.login {
    width: 40%;
    margin: auto;
    background-color: white;
    padding: 10px;
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-top: 3%;
    padding: 30px;
  }

  .forget-password {
    color: blue;
    cursor: pointer;
  }
  
  .register {
    color: blue;
    font-size: larger;
    margin-left: 10px;
  }